<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tour for Chinese</title>
</head>
<body>
	<div><h4>Add your Profile</h4>
		</div>

	<form method="POST" action="/todos">
		First name: <input type="text" id="firstname" name="firstname" /><br /><br />
		Last name: <input type="text" id="lastname" name="lastname" /><br /><br />
		Location: <input type="text" id="location" name="location" /><br /><br />
		About myself: <input type="text" id="description" name="description" /><br /><br /> 
		<input type="submit" value="Create Story">
	</form>


</body>
</html>